@import '~antd/dist/antd.less';

#root, #root > div, .main-container{
  height: 100%;
  width: 100%;
}

.hidden{
  /*visibility: hidden;*/
  display: none;
}

.visible{
  display: block;
}

<<<<<<< HEAD
.TODO{
  background-color: red;
}

.PROGRESS{
  background-color: orange;
}

.DONE{
  background-color: green;
}
=======
/*.TODO .step-forward svg{
  color: red;
}

.PROGRESS .step-forward svg{
  color: orange;
}

.DONE .step-forward svg{
  color: green;
}*/
>>>>>>> ea1b24c (Add ant design lib and use it.)
