@import '~antd/dist/antd.less';

#root, #root > div, .main-container{
  height: 100%;
  width: 100%;
}

.hidden{
  /*visibility: hidden;*/
  display: none;
}

.visible{
  display: block;
}

.TODO{
  background-color: red;
}

.PROGRESS{
  background-color: orange;
}

.DONE{
  background-color: green;
}
