.container{
  display: flex;
  flex-direction: column;
}

.todo{
  margin-top: 5px;
  padding: 5px;
}

.TODO{
  background-color: red;
}

.PROGRESS{
  background-color: blue;
}

.DONE{
  background-color: green;
}

.hidden{
  /*visibility: hidden;*/
  display: none;
}

.visible{
  display: block;
}

