<h2 mat-dialog-title>Créer / éditer une todo</h2>
<mat-dialog-content [formGroup]="form">

  <mat-form-field appearance="fill">
    <mat-label>Titre</mat-label>
    <input matInput value="{{todo.title}}" formControlName="title">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Type</mat-label>
    <mat-select >
      <mat-option *ngFor="let type of types" value="type.id">{{type.entitled}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Description</mat-label>
    <textarea formControlName="content" matInput>{{todo.content}}</textarea>
  </mat-form-field>


</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button mat-dialog-close>Annuler</button>
  <button mat-button (click)="save()">Editer</button>
</mat-dialog-actions>
