@import '~antd/dist/antd.less';


.hidden{
display: none;
}

.visible{
display: block;
}

/** OVERRIDE ANTD **/
.ant-layout-header{
height: fit-content;
width: 100%;
padding: initial;

}

.ant-layout-content{
padding: 10px;
}

