@import '~antd/dist/antd.less';

body{
  background: #ececec
}

.hidden{
  display: none;
}

.visible{
  display: block;
}

.site-page-header {
  margin-bottom: 16px;
  background: white;
  border: 1px solid rgb(235, 237, 240);
}
